torchaudio==0.11.0
git+https://github.com/huggingface/transformers
git+https://github.com/huggingface/datasets
librosa
jiwer
evaluate>=0.3.0
more-itertools
tensorboard
bitsandbytes
accelerate 
deepspeed
pyarabic
